@{
    Layout = "_Layout";
}


@model DetailedCustomer;

    <table id="customersTb" class="table">
        <thead>
          <tr>
              <th scope="col">Name</th>
              <th scope="col">IsDeleted</th>
              <th scope="col">Created</th>
              <th scope="col">CustomerNumber</th>
              <th scope="col">Actions</th>

          </tr>
        </thead>
        <tbody>
           <tr>
               <td>@Model.Name</td>
               <td>@Model.IsDeleted</td>
               <td>@Model.Created</td>
               <td>@Model.CustomerNumber</td>
           </tr>
            <tr>
                <th>City</th>
                <th>Street</th>
                <th>IsDeleted</th>
                <th>Actions</th>
            </tr>

        @foreach (var address in Model.Addresses)
        {
                    <tr>
                        <td><input id="city_@address.Id" class="border-none" type="text" value="@address.City" disabled/></td>
                        <td><input id="street_@address.Id" class="border-none" type="text" value="@address.Street" disabled/></td>
                         <td>@address.IsDeleted.ToString()</td>
                    <td>
                            <a onclick="EnbleAddressEdit(event);" href="#">Edit</a>
                                <a onclick="SaveAddressChanges(event);"  href="#">Save</a>
                                <a onclick="DeleteAddress(event);"  href="#">Delete</a>

                    </td>
                    </tr>
        }

        <tr>
                <th>FullName </th> 
                <th>OfficeNumber </th>
                <th>Email </th>  
                <th>IsDeleted</th>
                <th>Actions</th>
        </tr>
        @foreach (var contact in Model.Contacts)
        {
            string classUniqueId = $"contact_input_{contact.Id}";
                <tr>
                            <td><input id='fullname_@contact.Id' type="text" class="border-none @classUniqueId" value="@contact.FullName"  disabled/></td>
                            <td><input id='officenumber_@contact.Id' type="text" class="border-none @classUniqueId" value="@contact.OfficeNumber" disabled /></td>
                            <td><input id='email_@contact.Id' type="text" class="border-none @classUniqueId" value="@contact.Email" disabled /></td>
                            <td><input type="text" class="border-none" value="@contact.IsDeleted.ToString()" disabled /></td>
                            <td>
                                    <a onclick='EnbleContactEdit("@contact.Id");' href="#">Edit</a>
                                    <a onclick='SaveContactChanges("@contact.Id");'  href="#">Save</a>
                                    <a onclick='DeleteContact("@contact.Id");'  href="#">Delete</a>

                        </td>
                </tr>
        }


        </tbody>
   </table>