@{
    ViewData["Title"] = "Home Page";
}

@model List<CustomerDto>;


    <div>
    <table id="customersTb" class="table">
        <thead>
          <tr>
              <th scope="col">Name</th>
              <th scope="col">IsDeleted</th>
              <th scope="col">Created</th>
              <th scope="col">CustomerNumber</th>
              <th scope="col">Addresses</th>

          </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                          <tr onclick='redirectToView("Home","Customers","@item.Id");'>
                          
                          <td>@item.Name</td>
                          <td>@item.IsDeleted</td>
                          <td>@item.Created</td>
                          <td>@item.CustomerNumber</td> 
                          <td>
                        @foreach (var address in item.Addresses)
                        {
                            <p>@address.Street , @address.City</p>
                        }
                          </td>
                              
                              

                        </tr>
            }

        </tbody>
   </table>
</div>

